body{
    background-color: #2f2f2f;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

@font-face{
    font-family: Orbitron;
    src: url('../../assets/fonts/Orbitron-ExtraBold.ttf')
 }

 @font-face{
    font-family: Robot;
    src: url('../../assets/fonts/RobotoFlex-Regular.ttf')
 }
